* {
    margin: 0;
    padding: 0;
 font-family:"Microsoft YaHei", sans-serif, arial;
}

ul {
    list-style: none;
}

body {
    background: #f5f5f5
}



.container{
    width: 100%;
     
    
    background: url(../images/bg_line.png) repeat;
}


.header {
    width: 100%;
    height: 192px;
    background: url(../images/a_002.png) red repeat-x;
}
.focus {
    margin: auto;
    width: 1024px;
    height: 150px;
    background: url(../images/a_004.png);
    background-size: contain
}
.leader {
    width: 1024px;
    margin: auto;
    background: none;
    background-size: contain;
    height: 42px;
    padding-top: 1px;
}
.w_line {
    width: 100%;
    height: 150px;
    position: absolute;
    background: url(../images/w_line.png);
    z-index: 10;
    top: 0;
}
ul {
    width: 100%;
    height: 37px;
    margin-top: 4px;
}
.leader ul li {
    width: 119px;
    height: 37px;
    background: url(../images/b_05.png);
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 37px;
    text-align: center
}
/*
.leader ul li:hover {
    width: 119px;
    height: 37px;
    background: url(../images/b_03.png);
    float: left;
    line-height: 37px;
    text-align: center;
    color: #f48c12;
}*/
.big_focus {
    width: 1024px;
    height: 337px;
    margin: auto;
    background: url(../images/a_008.png);
}
.neirong {
    width: 1020px;
    background: url(../images/bg_line.png) #efefef;
    margin: auto;
    border-left: 2px #e1e1e1 solid;
    border-right: 2px #e1e1e1 solid;
}
.left_box {
    width: 295px;
    height: 400px;
    float: left;
    margin-left: 18px;
    margin-top: 68px;
}
.mid_box { 
    font-size: 14px;
    color: #666;
    width:100%;
  height:100%;
 margin-top:-14px;
}
.detail p{width:96%;margin:auto;margin-top:12px;}
  
.notice_title4{
    width: 100%;
    height: 60px;
    background: url(../images/qqq_03.png) no-repeat;
}

.lujing{width:400px;height:24px;float:left;margin:29px 0 0 43px;line-height: 24px;}
.riqi{width:100px;height:24px;float:right;margin:29px 82px 0 0;line-height: 24px;}
 
.footer {
    width: 99%;
    height: 58px;
    background: #b2b2b2;
    margin-top: 4px;
}
.gray_line {
    width: 100%;
    height: 2px;
    background: #e1e1e1
}
.footer_info {
    width: 1024px;
    margin: auto;
    height: 57px;
    background: url(../images/d_07.png); }